<div>
  <div class="string-tools">
    <div class="string-tools__top_section">
      <textarea class="code-window" #codePane 
        (input)="UpdateExplanation(codePane.value, inputPane.value);ProcessClick(codePane.value, inputPane.value);">
split ,
at 1, 2
csv '
enclose
flat
csv
print INSERT INTO Account (AccountRef, Company) VALUES $0</textarea>
      <textarea class="explain-window" readonly>{{ explain }}</textarea>
    </div>
    <div class="panes-container">
      <div class="pane pane--left">
        <textarea class="pane-textarea" #inputPane
          (input)="ProcessClick(codePane.value, inputPane.value);">
1,W22355,foo
2,X13989,bar
3,Y22492,baz
        </textarea>
      </div>
      <div class="pane pane--right" #outputPane>
        <textarea class="pane-textarea" readonly>{{ outputValue }}</textarea>
      </div>
    </div>
  </div>
</div> 