<div>
  <div class="string-tools">
    <div class="string-tools__top_section">
      <textarea class="string-tools__textarea code-window" #codePane 
        (input)="UpdateExplanation(codePane.value, inputPane.value);ProcessClick(codePane.value, inputPane.value);"
        placeholder="Enter your instructions here"
        spellcheck="false">split ,
sort 3,2
csv \t</textarea>
      <textarea class="string-tools__textarea explain-window" readonly
      placeholder="An explanation of your instructions will be shown here">{{ explain }}</textarea>
    </div>
    <div class="panes-container">
      <div class="pane pane--left">
        <textarea class="string-tools__textarea pane-textarea" #inputPane
          (input)="ProcessClick(codePane.value, inputPane.value);"
          placeholder="Paste the text to process in here"
          spellcheck="false">
1,W11111,Edward,Smale,Leighton Buzzard
1,W11112,Edward,Smale,Sheffield
2,W22222,Stephen,Smale,Sheffield
3,W33333,Jo,Smale,Roehampton
4,W44444,Jo,Burton,Barnes
5,W55555,Edward,Burton,London</textarea>
      </div>
      <div class="pane pane--right" #outputPane>
        <textarea class="string-tools__textarea pane-textarea" readonly
          placeholder="Output will appear here">{{ outputValue }}</textarea>
      </div>
    </div>
  </div>
</div> 