<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div class="string-tools">
    <textarea class="code-window" #codePane>
split ,
at 1 2
csv</textarea
    >
    <div class="button-bar string-tools__button-bar">
      <button (click)="ProcessClick(codePane.value, inputPane.value)">
        Process
      </button>
    </div>
    <div class="panes-container">
      <div class="pane pane--left">
        <textarea class="pane-textarea" #inputPane>
1,W22355,foo
2,X13989,bar
3,Y22492,baz
        </textarea>
      </div>
      <div class="pane pane--right" #outputPane>
        <textarea class="pane-textarea" readonly>{{ outputValue }}</textarea>
      </div>
    </div>
  </div>
</div> 